<form action="<%=@form_params.post_url%>" method="post" class="epay-form">
  <input type='hidden' name='PAGE' value="<%=@form_params.page%>">
  <input type='hidden' name='ENCODED' value="<%= @form_params.encoded%>">
  <input type='hidden' name='CHECKSUM' value="<%= @form_params.checksum%>">
  <input type='hidden' name='URL_OK' value="<%=@form_params.url_ok%>">
  <input type='hidden' name='URL_CANCEL' value="<%=@form_params.url_cancel%>">
</form>
<form action="<%=@form_params.post_url%>" method="post" class="epay-form">
  <input type='hidden' name='PAGE' value="<%=@form_params.page%>">
  <input type='hidden' name='ENCODED' value="<%= @form_params.encoded%>">
  <input type='hidden' name='CHECKSUM' value="<%= @form_params.checksum%>">
  <input type='hidden' name='URL_OK' value="<%=@form_params.url_ok%>">
  <input type='hidden' name='URL_CANCEL' value="<%=@form_params.url_cancel%>">
</form>
